.container {
	background-color: khaki;
	width: 100%;
	height: min-content;
	display: flex;
	flex-flow: column;
}

.btnWrap {
	width: 100%;
	// height: 100px;
	margin: 10px 0px 10px;
	// background-color: aqua;
	display: flex;
	justify-content: center;
	align-items: center;
	button {
		height: fit-content;
		width: fit-content;
		padding: 0.5em 3rem;
		background-color: red;
		color: aliceblue;
		font-size: large;
	}
}
.btn {
	width: fit-content;
	padding: 0.5rem 2rem;
	height: fit-content;
	background-color: darkcyan;
}
// .wrapper {
// 	background-color: rgb(228, 235, 235);
// }
.wrapList {
	// background-color: burlywood;
	display: grid;
	width: 100%;
	height: fit-content;
	grid-template-columns: 1fr 80px 80px 80px;
	grid-template-rows: 100px;
	gap: 2px;
	margin-bottom: 1px;
	border: red 2px solid;
}
.name {
	display: grid;
	place-items: center;
	width: 100%;
	border: 2px black solid;
	// margin: 10px;
}
.i {
	border: 2px black solid;
	width: 100%;
	// background-color: coral;
	// margin: 10px;
	display: grid;
	place-items: center;
}
.nom {
	width: 100%;
	border: 2px black solid;
	display: grid;
	place-items: center;
	// background-color: darkgoldenrod;
}
.kvt {
	width: 100%;
	border: 2px black solid;
	display: grid;
	place-items: center;
}
.wrapName {
	font-size: 1.1rem;

	display: grid;
	width: 100%;
	// height: 299px;
	// background-color: red;
	// justify-content: space-between;
	grid-template-columns: 1fr 80px 80px 80px;
	// grid-template-rows: 100px;
	border: 2px rgb(237, 6, 6) solid;
	gap: 2px;
}
li {
	font-weight: 500;
	height: 50px;
	display: grid;
	place-items: center;

	border: 2px black solid;
	// gap: 2px;
}
li:nth-child(2) {
	display: flex;
	justify-content: center;
	flex-flow: wrap;
	font-size: 1rem;
	span {
		height: min-content;
		padding: 0px;
	}
}
li:nth-child(3) {
	font-size: 14px;
}
li:nth-child(1) {
	font-size: 1rem;
}
