.container {
  background-color: khaki;
  width: 100%;
  height: min-content;
  display: flex;
  flex-flow: column;
}

.btnWrap {
  width: 100%;
  margin: 10px 0px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btnWrap button {
  height: fit-content;
  width: fit-content;
  padding: 0.5em 3rem;
  background-color: red;
  color: aliceblue;
  font-size: large;
}

.btn {
  width: fit-content;
  padding: 0.5rem 2rem;
  height: fit-content;
  background-color: darkcyan;
}

.wrapList {
  display: grid;
  width: 100%;
  height: fit-content;
  grid-template-columns: 1fr 80px 80px 80px;
  grid-template-rows: fit-content;
  gap: 2px;
  margin-bottom: 1px;
  border: black 2px solid;
  padding: 0.5em;
}

.name {
  display: grid;
  place-items: center;
  width: 100%;
}

.i {
  border: 2px black solid;
  width: 100%;
  display: grid;
  place-items: center;
}

.nom {
  width: 100%;
  border: 2px black solid;
  display: grid;
  place-items: center;
}

.kvt {
  width: 100%;
  border: 2px black solid;
  display: grid;
  place-items: center;
}

.wrapName {
  font-size: 1.1rem;
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 80px 80px 80px;
  border: 2px rgb(237, 6, 6) solid;
  gap: 2px;
}

li {
  height: 20px;
  font-weight: 500;
  height: 50px;
  display: grid;
  place-items: center;
  border: 2px black solid;
}

li:nth-child(2) {
  display: flex;
  justify-content: center;
  flex-flow: wrap;
  font-size: 1rem;
}
li:nth-child(2) .sp {
  height: min-content;
  padding: 0px;
}

li:nth-child(3) {
  font-size: 14px;
}

li:nth-child(1) {
  font-size: 1rem;
}