.wrapper {
	width: 100%;
	height: 100vh;
}

.style.accordion_content {
	min-width: 100%;
	min-height: max-content;

}
.style.accordion_item {
	min-width: 400px;
	min-height: max-content;
	background-color: deepskyblue;
}
