.container {
  background-color: rgb(244, 195, 0);
  width: 100%;
  height: 100vh;
  color: rgb(0, 0, 0);
}

.wrapper {
  background-color: rgb(0, 0, 0);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  color: rgb(0, 0, 0);
}

.item {
  width: 33%;
  background-color: rgb(255, 255, 255);
  height: 100vh;
  writing-mode: sideways-rl;
  -webkit-writing-mode: sideways-rl;
  -ms-writing-mode: sideways-rl;
}

.newEstakada {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  background-color: aqua;
  padding: 100px 0px;
}

.mal {
  width: 100%;
  height: 50px;
  background-color: rgb(245, 209, 0);
  z-index: 1;
  display: flex;
  justify-content: center;
  font-size: 17px;
  flex-flow: wrap column;
}

.district6 {
  position: relative;
  height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  background-color: chocolate;
  padding: 100px 0px;
}

.district7 {
  position: relative;
  display: flex;
  background-color: darkcyan;
  flex-flow: column;
  height: 100vh;
  justify-content: space-between;
  padding: 100px 0px;
}

:is(.mal) > span {
  width: 100%;
  display: inline-block;
}

.newEstakada {
  position: relative;
}

.abs {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  writing-mode: vertical-rl;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: vertical-rl;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}
.abs div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 29px;
  letter-spacing: 10px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: 600;
  position: relative;
  bottom: 78px;
}
.abs .noOne {
  position: absolute;
  width: 113px;
  height: 143px;
  font-size: 29px;
  margin-top: 82px;
  bottom: 127px;
}

.cran2 {
  opacity: 0.9;
}

img {
  width: 112px;
  z-index: 3;
}

:has([data-crane=mal1]) > span {
  display: inline-block;
  font-size: 3px;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-size: 0.7rem;
}
:has([data-crane=mal1]) > span span {
  display: inline-block;
  width: -moz-min-content;
  width: min-content;
  height: -moz-min-content;
  height: min-content;
  font-size: 0.8rem;
}