.container {
	display: flex;
	flex-direction: column;
	min-width: 100%;
	min-height: 100vh;
	background-color: rgb(237, 230, 222);
}
.wrapper {
	min-width: 100%;
	max-height: 30px;
	background-color: rgb(132, 99, 58);
	display: flex;
	justify-content: space-around;
}
.accordion {
  background-color: rgb(237, 230, 222);
  min-width: 370px;
  margin:40px 10px;


  border-radius:80px ;
  -webkit-border-radius:80px ;
  -moz-border-radius:80px ;
  -ms-border-radius:80px ;
  -o-border-radius:80px ;
}
.child {
	width: 100%;
	height: max-content;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.wrapCrane {
	background-color: beige;
	width: 90%;
	height: 100%;
	border-right: solid 2px black;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
