@media screen and (max-width: 420px) {
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    min-height: 100dvh;
    background: url("../../Foto/Painter.jpg");
  }
  .nav {
    min-height: -moz-fit-content;
    min-height: fit-content;
  }
  .nav .list {
    max-width: 400px;
  }
  .nav .item {
    border: none;
    position: relative;
    max-width: 300px;
    min-width: 200px;
    width: 300px;
    max-height: -moz-max-content;
    max-height: max-content;
  }
  .nav .item span {
    color: rgb(8, 7, 7);
    font-size: clamp(2rem, 1.111rem + 4.44vw, 2.5rem);
  }
}
.paintbrush {
  width: clamp(0.8rem, -0.4rem + 6vw, 1.1rem);
  color: rgb(96, 3, 3);
  font-size: 1px;
  left: 10%;
  top: 12%;
  position: absolute;
}

.item {
  perspective: 200px;
}

.list {
  height: -moz-fit-content;
  height: fit-content;
  margin-bottom: 59px;
}

.paintbrush {
  transform: translate(2px) rotate(-42deg) scale(2);
  transition: transform 1400ms both;
  animation: brush ease-in 3s both;
  -moz-transform: translate(2px) rotate(-42deg) scale(2);
  -ms-transform: translate(2px) rotate(-42deg) scale(2);
  -o-transform: translate(2px) rotate(-42deg) scale(2);
  -webkit-transition: transform 1400ms both;
  -moz-transition: transform 1400ms both;
  -ms-transition: transform 1400ms both;
  -o-transition: transform 1400ms both;
  -webkit-transform: translate(2px) rotate(-42deg) scale(2);
  -webkit-animation: brush ease-in 3s both;
}

@keyframes brush {
  0% {
    transition: rotate 2s;
    transform: rotateY(18deg);
    -webkit-transform: rotateY(18deg);
    -moz-transform: rotateY(18deg);
    -ms-transform: rotateY(18deg);
    -o-transform: rotateY(18deg);
    -webkit-transition: rotate 2s;
    -moz-transition: rotate 2s;
    -ms-transition: rotate 2s;
    -o-transition: rotate 2s;
  }
  70% {
    transform: rotateY(-116deg);
    -webkit-transform: rotateY(-116deg);
    -moz-transform: rotateY(-116deg);
    -ms-transform: rotateY(-116deg);
    -o-transform: rotateY(-116deg);
  }
}