@media screen and (max-width: 420px) {
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    min-height: 100dvh;
    background: url("../../Foto/Painter.jpg");
  }
  .nav {
    min-height: -moz-fit-content;
    min-height: fit-content;
  }
  .nav .list {
    max-width: 400px;
  }
  .nav .item {
    max-width: 300px;
    min-width: 200px;
    width: 300px;
    max-height: -moz-max-content;
    max-height: max-content;
    border: none;
  }
  .nav .item span {
    color: rgb(8, 7, 7);
    font-size: clamp(2rem, 1.111rem + 4.44vw, 2.5rem);
  }
}
.paintbrush {
  color: rgb(96, 3, 3);
  font-size: 1rem;
  left: 10%;
  top: 50%;
}

.item {
  position: relative;
  perspective: 200px;
}

.list {
  height: -moz-fit-content;
  height: fit-content;
  margin-bottom: 59px;
}

.paintbrush {
  transform: translate(20px) rotate(-42deg) scale(1.4);
  transition: all 2000ms linear;
  position: absolute;
  -moz-transform: translate(20px) rotate(-42deg) scale(1.4);
  -ms-transform: translate(20px) rotate(-42deg) scale(1.4);
  -o-transform: translate(20px) rotate(-42deg) scale(1.4);
  -webkit-transition: all 2000ms linear;
  -moz-transition: all 2000ms linear;
  -ms-transition: all 2000ms linear;
  -o-transition: all 2000ms linear;
  -webkit-transform: translate(20px) rotate(-42deg) scale(1.4);
}

@keyframes brush {
  0% {
    transform: rotateY(80deg);
    -webkit-transform: rotateY(80deg);
    -moz-transform: rotateY(80deg);
    -ms-transform: rotateY(80deg);
    -o-transform: rotateY(80deg);
  }
  70% {
    transform: rotateY(60px);
    -webkit-transform: rotateY(60px);
    -moz-transform: rotateY(60px);
    -ms-transform: rotateY(60px);
    -o-transform: rotateY(60px);
  }
  80% {
    transform: rotateX(-50deg);
    -webkit-transform: rotateX(-50deg);
    -moz-transform: rotateX(-50deg);
    -ms-transform: rotateX(-50deg);
    -o-transform: rotateX(-50deg);
  }
}