@import '../mediaPaint/media';

.item {
	// position: relative;
	perspective: 200px;
}
.list {
	height: fit-content;
	// border: 2px black solid;
  margin-bottom: 59px;
  


}
.paintbrush {
	transform: translate(2px) rotate(-42deg) scale(2);
	transition: transform 1400ms both;
	animation:brush ease-in  3s  both;
	-moz-transform: translate(2px) rotate(-42deg) scale(2);
	-ms-transform: translate(2px) rotate(-42deg) scale(2);
	-o-transform: translate(2px) rotate(-42deg) scale(2);
	-webkit-transition: transform 1400ms both;
	-moz-transition: transform 1400ms both;
	-ms-transition: transform 1400ms both;
	-o-transition: transform 1400ms both;
	-webkit-transform: translate(2px) rotate(-42deg) scale(2);
	-webkit-animation:brush ease-in  3s  both;
}
@keyframes brush {
	0% {
    transition: rotate 2s;
    transform: rotateY(18deg);
    -webkit-transform: rotateY(18deg);
    -moz-transform: rotateY(18deg);
    -ms-transform: rotateY(18deg);
    -o-transform: rotateY(18deg);
    -webkit-transition: rotate 2s;
    -moz-transition: rotate 2s;
    -ms-transition: rotate 2s;
    -o-transition: rotate 2s;
}
	
	70% {
		transform: rotateY(-116deg);
		-webkit-transform: rotateY(-116deg);
		-moz-transform: rotateY(-116deg);
		-ms-transform: rotateY(-116deg);
		-o-transform: rotateY(-116deg);
}
	80% {
		// transform: rotateX(-50deg);
		// -webkit-transform: rotateX(-50deg);
		// -moz-transform: rotateX(-50deg);
		// -ms-transform: rotateX(-50deg);
		// -o-transform: rotateX(-50deg);
	}
	100% {

	}
}
