
@import './mixinM';



@media only screen and (max-width: 480px) {
  
// .parent{
   
//         display: grid;
//         grid-template-columns: 1.1fr 0.02fr repeat(2, 1.1fr) 0.02fr 1.1fr;
//         grid-template-rows: repeat(29, 1fr);
//         grid-column-gap: 0.01rem;
//         grid-row-gap: 0.1rem;
    
    
// }
.div1{
    @include b();

  
}

.div2{ 
     @include b();
    }
.div3{
    @include b();
}
.div4{ 
   
    @include b();
}
.div5{ 
    @include road();
   
 
}
.div6{ 
    
   
    @include b();
}
.div7{ 
   
    @include b();
}
.div8{ 
   
    @include b();
}
.div9{
  
    @include b();
}
.div10{ 
   
    @include b();
}
.div11{ 
   
    @include b();
}
.div12{ 
   
    @include b();
}
.div13{ 
   
    @include b();
}
.div14{ 
   
    @include b();
}
.div15{ 
   
    @include b();
}
.div16{ 
   
    @include b();
}
.div17{ 
   
    @include b();
}
.div18{ 
   
    @include b();
}
.div19{ 
   
    @include b();
}
.div20{ 
   
    @include b();
}
.div21{ 
   
    @include b();
}
.div22{ 
    
@include telega()
 
}
.div23{ 
   
    @include b();
}
.div24{ 
   
    @include b();
}
.div25{ 
   
    @include b();
}
.div26{ 
   
    @include b();
}
.div27{ 
   
    @include b();
}
.div28{ 
   
    @include b();
}
.div29{ 
   
    @include b();
}
.div30{ 
   
    @include b();
}
.div31{ 
   
    @include b();
}
.div32{ 
   
    @include b();
}
.div33{ 
   
    @include b();
}
.div34{ 
   
    @include b();
}
.div35{ 
   
    @include b();
}
.div36{ 
   
    @include b();
}
.div37{ 
   @include telega();
    
}
.div38{ 
   
    @include b();
}
.div40{ 
    @include b();
   
}
.div41{ 
   
    @include b();
}
.div42{ 
   
    @include b();
}
.div43{ 
   
    @include b();
}
.div44{ 
   
    @include b();
}
.div45{ 
   
    @include b();
}
.div46{ 
   
    @include b();
}
.div47{ 
   
    @include b();
}
.div48{ 
   
    @include b();
}
.div49{ 
   
    @include b();
}
.div50{ 
   
    @include b();
}
.div51{ 
  color: black; 
    // @include b();
    // @include telega();
}
.div52{ 
   
    @include b();
}
.div53{ 
   
    @include b();
}
.div54{ 
   
    @include b();
}
.div55{ 
   
    @include b();
}
.div56{ 
   @include road()
   
}
.div57{ 
   
    @include b();
}
.div58{ 
   
    @include b();
}
.div59{ 
   
    @include b();
}
.div61{ 
   
    @include b();
}
.div62{ 
   
    @include b();
}
.div63{ 
 
    @include b();
}
.div64{ 
   
    @include b();
}
.div65{ 
   
    @include b();
}
.div66{ 
   
    @include b();
}
.div67{ 
   
    @include b();
}
.div68{ 
   
    @include b();
}
.div69{ 
   
    @include b();
}
.div70{ 
   
    @include b();
}
.div71{ 
   width: 99.9%;
   height: 2rem;
    // @include b();
    @include telega();


 
}
.div72{ 
   
    @include b();
}
.div73{ 
   
    @include b();
}
.div74{ 
   
    @include b();
}
.div75{ 
   
    @include b();
}
.div76{ 
   
    @include b();
}
.div77{ 
   
    @include b();
}
.div78{ 
   
    @include b();
}
.div79{ 
   
    @include b();
}
.div80{ 
   
    @include b();
}
.div81{ 
   
    @include b();
}
.div82{ 
   
    @include b();
}
// .div8{ 
   
//     @include b();
// }
// .div8{ 
   
//     @include b();
// }
// .div8{ 
   
//     @include b();
// }
// .div8{ 
   
//     @include b();
// }
// .div8{ 
   
//     @include b();
// }
// .div8{ 
   
//     @include b();
// }
// .div8{ 
   
//     @include b();
// }
// .c{display: flex;justify-content: center;}


}
@media only screen and (min-width: 480px) {

    .parent{
   
        display: grid;
        grid-template-columns: 1.1fr 0.02fr repeat(2, 1.1fr) 0.02fr 1.1fr;
        grid-template-rows: repeat(29, 1fr);
        grid-column-gap: 5rem;
        grid-row-gap: 1rem;

    
    }

    .div71{ 
        width: 22rem;
        height: 2rem;
         // @include b();
         @include telega();
     

      
     }
     @mixin b(){
        color: #FFFFFF;
        background: #232323;
    
        border: 3px inset #11b0ea;
        border-radius:  10px;
        display: flex;
        justify-content: center;
        font-size:0.9rem;
        // height: 2rem;
        // width: 4.9rem;
        word-wrap: break-word;
        white-space:pre-wrap;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        line-height: 1.2;
        -webkit-border-radius:  10px;
        -moz-border-radius:  10px;
        -ms-border-radius:  10px;
        -o-border-radius:  10px;
        span
    {color: #d6e80f;font-size: 0.7rem;}

            text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;

     }
     .div1, .div2,.div3,.div4{@include b()};




}
