@media only screen and (max-width: 480px) {
.parent{font-size: 1rem;}
.div1{border:red solid 3px}
.div2{border:red solid 3px}
.div3{border:red solid 3px}
.div4{border:red solid 3px;}
.c{display: flex;justify-content: center;}




}