 @mixin road(){
         display: flex;
         justify-content: center;
         align-items: center;
         color: rgb(238, 239, 239);
         font-size: 20px;
         text-shadow: 2px 2px 5px #e90707;
         -webkit-box-shadow: 5px 8px 15px 5px #000000;
         box-shadow: 5px 8px 15px 5px #605656;
         border: 2px ridge rgba(164,57,106,0.8);
         border-radius:7px;
         -webkit-border-radius:7px;
         -moz-border-radius:7px;
         -ms-border-radius:7px;
         -o-border-radius:7px;
         /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#3f4c6b+0,3f4c6b+100;Blue+Grey+Flat */
background: rgb(63,76,107); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(63,76,107,1) 0%, rgba(63,76,107,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(63,76,107,1) 0%,rgba(63,76,107,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(63,76,107,1) 0%,rgba(63,76,107,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f4c6b', endColorstr='#3f4c6b',GradientType=0 ); /* IE6-9 */
max-width: 99.8%;

}
@mixin b(){
    color: #FFFFFF;
    background: #232323;

    border: 3px inset #11b0ea;
    border-radius:  10px;
    display: flex;
    justify-content: center;
    font-size:0.9rem;
    height: 2rem;
    width: 5.4rem;
    word-wrap: break-word;
    white-space:pre-wrap;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.2;
    -webkit-border-radius:  10px;
    -moz-border-radius:  10px;
    -ms-border-radius:  10px;
    -o-border-radius:  10px;
    span
{color: #d6e80f;font-size: 0.7rem;}

}
@mixin telega(){
    display: flex;justify-content: center;align-items: center;
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#fefefd+0,dce3c4+42,aebf76+100;Olive+3D+%231 */
background: rgb(254,254,253); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(254,254,253,1) 0%, rgba(220,227,196,1) 42%, rgba(174,191,118,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(254,254,253,1) 0%,rgba(220,227,196,1) 42%,rgba(174,191,118,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(254,254,253,1) 0%,rgba(220,227,196,1) 42%,rgba(174,191,118,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefd', endColorstr='#aebf76',GradientType=0 ); /* IE6-9 */

    font-size: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
       letter-spacing: 0.2rem;
    text-transform:capitalize;
       span{color: rgb(234, 15, 15);
        font-family:'Times New Roman', Times, serif;

    
    }
    border: 2px ridge rgba(194, 130, 12, 0.8);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    // max-width: 95%;
}
// @mixin f(){
//     background:brown
// }