.container {
	background-color: aquamarine;
	width: 100%;
	height: 100vh;
	display: grid;
	grid-template-columns: repeat(2 100px);
}
.wrapBut {
	// width: 20%;
	// height: 100px;
	background-color: darkgrey;
}
.content {
	background-color: bisque;
}
