.container {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f2f9fe+0,d6f0fd+100;White+3D+%232 */
  background: linear-gradient(to bottom, rgb(242, 249, 254) 0%, rgb(214, 240, 253) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  width: 390px;
  height: 100vh;
  overflow: hidden;
}

.wrapBut {
  display: grid;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  padding: 10px;
  place-items: center;
}
.wrapBut button {
  width: 200px;
  height: -moz-fit-content;
  height: fit-content;
  padding: 10px;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffc578+0,fb9d23+100;Orange+3D+%233 */
  background: linear-gradient(to bottom, rgb(255, 197, 120) 0%, rgb(251, 157, 35) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.wrapContent {
  width: 100%;
  height: 200px;
}

.crane {
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  border: black solid 3px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-auto-flow: row;
}
.crane li {
  border: 2px #ff0000 solid;
}
.f {
  width: 100%;
  height: auto;
}

.slider {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
}