@mixin bacContainer() {
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f2f9fe+0,d6f0fd+100;White+3D+%232 */
	background: linear-gradient(
		to bottom,
		rgba(242, 249, 254, 1) 0%,
		rgba(214, 240, 253, 1) 100%
	); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
@mixin butBac {
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffc578+0,fb9d23+100;Orange+3D+%233 */
	background: linear-gradient(
		to bottom,
		rgba(255, 197, 120, 1) 0%,
		rgba(251, 157, 35, 1) 100%
	); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.container {
	@include bacContainer();
	width: 390px;
	height: 100vh;
	// display: grid;
	// grid-template-columns: 1fr ;
	// grid-template-rows: 20px 40px 50px 40px 100px;
	// grid-auto-rows: 100px;
	// background-color: red;
  overflow: hidden;
}
.wrapBut {
	display: grid;
	width: 100%;
	height: fit-content;
	padding: 10px;
	// background-color: darkgrey;
	place-items: center;
	button {
		width: 200px;
		height: fit-content;
		padding: 10px;
		@include butBac();
	}
}
.wrapContent {
	// background-color: burlywood;
	width: 100%;
	height: 200px;
}
.crane {
	height: fit-content;
	width: 100%;
	border: black solid 3px;
	li {
		border: 2px #ff0000 solid;
	}
	display: grid;
	grid-template-columns:  1fr;
	grid-template-rows: repeat(2,1fr);

	// gap: 1px;
	grid-auto-flow: row;
	.craneName {
	}
}
.f {
	width: 100%;
	height: auto;
}
.slider {
	width: 100%;
	height: fit-content;

}






