.l1{color:black;font-weight: 700;
span{font-size: 1.2rem;}
}
.lType{span{font-size: 1.3rem;font-weight: 700;}}
.l2{color:black;font-weight: 700;word-wrap: break-word;white-space: normal;
span{ color:red;font-size: 1.1rem;}
}
.l3{color:black;font-weight: 700;}
.change{visibility: hidden;}