$main_bg: linear-gradient(
	to bottom,
	#a9e4f7 0%,
	#0fb4e7 100%
); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

.mainWrapper {
	width: 100%;
	height: 100%;
	background-color: #c0d9de;
	// overflow: hidden;
}
.slide {
	width: fit-content;
	height: 100%;
}
.imgContainer {
	width: 100%;
	height: 251px;
	background-color: white;
	display: flex;
	justify-content: center;
	position: relative;
	z-index: 1;
}
.goToNext {
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	right: 2px;
	font-size: 45px;
	color: #3e3636;
	cursor: pointer;
	z-index: 4;
	opacity: 0.9;
	-webkit-transform: translate(0, -50%);
	-moz-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	-o-transform: translate(0, -50%);
}
.goToPrevious {
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	left: 10px;
	font-size: 45px;
	color: #453939;
	cursor: pointer;
	z-index: 4;
}
.dot {
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #000;
	transition: opasity transform 0.2s;
	margin-right: 10px;
	opacity: 0.5;
	-webkit-transition: opasity transform 0.2s;
	-moz-transition: opasity transform 0.2s;
	-ms-transition: opasity transform 0.2s;
	-o-transition: opasity transform 0.2s;
	// background-color: red;
}
.active {
	transform: scale(1.5);
	opacity: 1;
}
.dotWrapper {
	display: flex;
	width: 10px;
	margin-top: 10px;
	height: 15px;
	background-color: #0fb4e7;

	justify-content: space-evenly;
}
.oneFoto {
	width: 100%;
	height: auto;
}
