@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik+Bubbles&family=Russo+One&display=swap');



@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Russo+One&display=swap');
$fontClamp: clamp(0.5rem, -1.278rem + 8.89vw, 1rem);
$ipMargin: 20px;
$btnBack: linear-gradient(
	to bottom,
	#c14a13 0%,
	#6d88b7 100%
); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
$backNotes:/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#e1ffff+0,e1ffff+7,e1ffff+12,fdffff+12,e6f8fd+30,c8eefb+54,bee4f8+75,b1d8f5+100;Blue+Pipe+%232 */
	linear-gradient(
	to bottom,
	#e1ffff 0%,
	#e1ffff 7%,
	#e1ffff 12%,
	#fdffff 12%,
	#e6f8fd 30%,
	#c8eefb 54%,
	#bee4f8 75%,
	#b1d8f5 100%
); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
$nth2: rgb(219, 235, 200);
.wrapInput {
	width: 100%;
	// background-color: rgb(189, 118, 18);
	display: flex;
	margin-top: $ipMargin;
}
.inpLocalStorage {
	width: 200px;
	height: 23.59px;
	border: 2px solid;
	animation: input-focus-animation 0.3s ease-in-out;
	-webkit-animation: input-focus-animation 0.4s ease-out;
}
.btn_input {
	margin-left: $ipMargin;
	//   width: 50px;margin-left: $ipMargin;
	// background: $btnBack;
	background-color: #0c0d0d30;
	color: #d9dddc;
	border: 2px solid #2b0606;
	padding: 10px;
	width: max-content;
	display: inline-block;
	padding: 5px;
	font-size: 0.9rem;
}
input:focus {
	border: 2px solid #40859dba;
	background-color: #eae2e2;
}

@keyframes input-focus-animation {
	from {
		width: 0;
	}
	to {
		width: 50px;
	}
}
#notesWrap {
	display: flex;
	max-width: 384;
	height: auto;
	justify-content: start;
	align-items: start;
	flex-direction: column;
	// border: 2px solid black;
	background: $backNotes;
	margin: 0.7rem 0rem;
	word-break: break-all;
	li:nth-child(2) {
		color: red;
		background-color: $nth2;
		height: auto;
		max-height: 300px;
		display: flex;
		justify-content: start;
		align-items: start;
	}
	li:nth-child(1) {
    font-family: "Rubik Bubbles", system-ui;
    font-size:  clamp(0.75rem, -1.75rem + 12.5vw, 1.375rem);
		border: none;
		color: rgb(0, 0, 0);
		display: flex;
		width: 100%;
		background-color: $nth2;
		:is(span) {
			display: inline-flex;
			justify-content: space-evenly;
			align-items: center;
			height: 100%;
			padding: 0;
		}
	}
}
#notesWrap li:nth-child(even) {
  min-width: 100%;
	min-height: 50px;
	color: #c11c13;
	border-color: indigo;
  box-shadow: 2px 2px black;
    font-family: "Russo One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: clamp(0.75rem, -0.25rem + 5vw, 1rem);
  // text-align: center;
  // margin: 0 auto;
  display: flex;
  justify-content: center;
align-items: center;
	;
}
