@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Russo+One&display=swap");
/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
.wrapInput {
  width: 100%;
  display: flex;
  margin-top: 20px;
}

.inpLocalStorage {
  width: 200px;
  height: 23.59px;
  border: 2px solid;
  animation: input-focus-animation 0.3s ease-in-out;
  -webkit-animation: input-focus-animation 0.4s ease-out;
}

.btn_input {
  margin-left: 20px;
  background-color: rgba(12, 13, 13, 0.1882352941);
  color: #d9dddc;
  border: 2px solid #2b0606;
  padding: 10px;
  width: -moz-max-content;
  width: max-content;
  display: inline-block;
  padding: 5px;
  font-size: 0.9rem;
}

input:focus {
  border: 2px solid rgba(64, 133, 157, 0.7294117647);
  background-color: #eae2e2;
}

@keyframes input-focus-animation {
  from {
    width: 0;
  }
  to {
    width: 50px;
  }
}
#notesWrap {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  border: 2px solid black;
  background: linear-gradient(to bottom, #e1ffff 0%, #e1ffff 7%, #e1ffff 12%, #fdffff 12%, #e6f8fd 30%, #c8eefb 54%, #bee4f8 75%, #b1d8f5 100%);
  margin: 1rem 1rem;
  word-break: break-all;
}
#notesWrap li:nth-child(2) {
  color: red;
  background-color: rgb(219, 235, 200);
  height: auto;
  max-height: 300px;
  display: flex;
  justify-content: start;
  align-items: start;
}
#notesWrap li:nth-child(1) {
  color: red;
  display: flex;
  width: 100%;
  background-color: rgb(219, 235, 200);
}
#notesWrap li:nth-child(1) :is(span) {
  display: inline-flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  padding: 0;
}
#notesWrap li:nth-child(3) {
  background-image: url("https://freesvg.org/storage/img/thumb/1707625313Toilet-paper-roll-2c.png");
  width: 100%;
  background-size: contain;
}