.container{
background-color: aliceblue;
width: 100%;
display: flex;
justify-content: center;
padding: 10px;

h2{font-size: 12px;display: inline;
    padding: 2px;
    width: 150px;
    font-size: 1.1rem;
} 
}
.container{
    animation: cont infinite ease-in 2s;
    -webkit-animation: cont infinite ease-in 2s;
    border-radius:14px;
    -webkit-border-radius:14px;
    -moz-border-radius:14px;
    -ms-border-radius:14px;
    -o-border-radius:14px;
    outline:3px red solid;
}
@keyframes cont{
10%{background-color: rgb(234, 189, 224);
font-weight: 600;
}
20%{font-weight: 200;

    background-color: rgb(203, 224, 191);
}
}