.headTelf {
	background-color: orange;

	display: grid;
	min-width: 100%;
	max-height: min-content;
	grid-template-columns: 15% 21% 21% 10% 15% 18%;
	grid-template-rows: minmax(min-content, auto);
	// grid-auto-rows: ;

	list-style: none; //
	// gap: 1px;
	.itemTelf {
		font-size: clamp(0.875rem, 0.125rem + 3.3vw, 1rem);
		// font-size: 14px;
	}
	.telferHead {
		font-size: clamp(0.625rem, 0.125rem + 2.5vw, 0.75rem);
	}
	.days {
		font-size: 12px;
	}
	.check {
		font-size: clamp(0.625rem, -1rem + 9vw, 0.875rem);
	}
	.q {
		background-color: lavender;
	}
}
#wrapTelf {
	// background-color: red;
	li {
		background-color: rgb(237, 237, 146);
		border: 1px solid black;
		font-size: clamp(0.875rem, 0.125rem + 3.3vw, 1rem);
    font-weight: 600;
	}

	display: grid;
	min-width: 100%;
	max-height: min-content;
	grid-template-columns: 15% 21% 21% 10% 15% 18%;
	// grid-template-rows: minmax(min-content, auto);
	grid-auto-rows: minmax(min-content, auto);

	list-style: none; //
	// gap: 1px;
	.telfer {
		font-size: clamp(0.5rem, -0.21rem + 5vw, 1rem);
	}
	.check1 {
		font-size: clamp(0.5rem, -0.38rem + 5vw, 1rem);
	}
}
