@import './head';
@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap');

.containerInspect {
	background: linear-gradient(to bottom, #feffff 0%, #ddf1f9 35%, #a0d8ef 100%);
	min-width: 100%;
	min-height: 100dvh;
	display: flex;
	font-family: 'Sofia Sans', sans-serif;
	font-optical-sizing: auto;
	font-weight: normal;
	font-style: normal;
	flex-flow: column;
	align-items: center;

	.wrapHeader {
		min-width: 100%;

		display: flex;

		justify-content: center;
		list-style: none;
		margin-bottom: 1rem;
	}
	.wrapper {
		min-width: 100%;
		min-height: 100dvh;
		// align-content: center;
		display: flex;
		flex-flow: column;
		align-items: center;
	}
}
button {
	cursor: pointer;
}
.accordion {
	padding-bottom: 10px;
}

.headAccord {
	min-width: 100%;
	padding: 0px;
}
// .activeOff {
//   opacity: 0;
//   // visibility: hidden;
//   pointer-events: none;
// 	// display: none;
// 	background: red;
// }
