@import url("https://fonts.googleapis.com/css2?family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap");
.headTelf {
  background-color: orange;
  display: grid;
  min-width: 100%;
  max-height: -moz-min-content;
  max-height: min-content;
  grid-template-columns: 15% 21% 21% 10% 15% 18%;
  grid-template-rows: minmax(min-content, auto);
  list-style: none;
}
.headTelf .itemTelf {
  font-size: clamp(0.875rem, 0.125rem + 3.3vw, 1rem);
}
.headTelf .telferHead {
  font-size: clamp(0.625rem, 0.125rem + 2.5vw, 0.75rem);
}
.headTelf .days {
  font-size: 12px;
}
.headTelf .check {
  font-size: clamp(0.625rem, -1rem + 9vw, 0.875rem);
}
.headTelf .q {
  background-color: lavender;
}

#wrapTelf {
  display: grid;
  min-width: 100%;
  max-height: -moz-min-content;
  max-height: min-content;
  grid-template-columns: 15% 21% 21% 10% 15% 18%;
  grid-auto-rows: minmax(min-content, auto);
  list-style: none;
}
#wrapTelf li {
  background-color: rgb(237, 237, 146);
  border: 1px solid black;
  font-size: clamp(0.875rem, 0.125rem + 3.3vw, 1rem);
  font-weight: 600;
}
#wrapTelf .telfer {
  font-size: clamp(0.5rem, -0.21rem + 5vw, 1rem);
}
#wrapTelf .check1 {
  font-size: clamp(0.5rem, -0.38rem + 5vw, 1rem);
}

.containerInspect {
  background: linear-gradient(to bottom, #feffff 0%, #ddf1f9 35%, #a0d8ef 100%);
  min-width: 100%;
  min-height: 100dvh;
  display: flex;
  font-family: "Sofia Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  flex-flow: column;
  align-items: center;
}
.containerInspect .wrapHeader {
  min-width: 100%;
  display: flex;
  justify-content: center;
  list-style: none;
  margin-bottom: 1rem;
}
.containerInspect .wrapper {
  min-width: 100%;
  min-height: 100dvh;
  display: flex;
  flex-flow: column;
  align-items: center;
}

button {
  cursor: pointer;
}

.accordion {
  padding-bottom: 10px;
}

.headAccord {
  min-width: 100%;
  padding: 0px;
}