@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Edu+SA+Beginner:wght@700&family=Handjet:wght@100&display=swap");
@mixin contBg{/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#d5cea6+0,c9c190+40,b7ad70+100;Brown+3D */
    background: rgb(213,206,166); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(213,206,166,1) 0%, rgba(201,193,144,1) 40%, rgba(183,173,112,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(213,206,166,1) 0%,rgba(201,193,144,1) 40%,rgba(183,173,112,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(213,206,166,1) 0%,rgba(201,193,144,1) 40%,rgba(183,173,112,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d5cea6', endColorstr='#b7ad70',GradientType=0 ); /* IE6-9 */
    }

@import'./mH';
.containerHome{@include contBg();
width: 100%;
height: 100vh;
display: flex;
flex-flow: column;


}

.duty{
  display: flex;
// flex-direction: column;
justify-content: center;  
  border-radius: 15px;
    font-size: 12px;
 
    display: flex;
    width: 100%;
// background-color: #fff;
justify-content: center;
h2{font-size: clamp(1rem, -0.92rem + 9.6vw, 1.6rem);
}
}
.links{
    // background-color: aqua;
display: flex;
justify-content: center;
flex-flow: column;
}
.l{color:rgb(1, 0, 0);
font-size: 20px;
}
.dutyGas{    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
    font-size: 1.1rem;
    display: flex;
    justify-content: center;
    padding: 10px;
    border: 3px red solid;}



.link5{
  // background-color: red;
display: flex;
justify-content:space-around;
flex-flow:row-reverse;
// height: 100%;
position: relative;
}