@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Edu+SA+Beginner:wght@700&family=Handjet:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Edu+SA+Beginner:wght@700&family=Handjet:wght@100&display=swap");
.link {
  font-size: 14px;
  color: black;
  font-weight: 700;
}
.link h1 {
  list-style: none;
  color: black;
}

.container {
  height: 100vh;
  color: black;
  display: flex;
  align-items: center;
}
.container main {
  font-size: 22px;
  font-family: "Caveat", cursive;
  height: max-content;
  min-height: 20px;
}

.link {
  font-size: 33px;
  color: black;
  font-weight: 900;
}

.link span {
  color: black;
  list-style: none;
}

.container {
  height: 100vh;
  color: black;
  display: flex;
  align-items: center;
}

.container main {
  font-size: 22px;
  font-family: "Caveat", cursive;
  height: max-content;
  min-height: 20px;
}