
@media only screen and (max-width: 2480px) {



  .r {

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.3rem;
  margin: 0.1rem;
  max-height: max-content;


  }
  .thinks{  
    writing-mode: vertical-rl;
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: vertical-rl;
    font-size: 0.8rem;
    max-height: 100vh
  }
  .connection{font-size: 1.4rem;}


  .avm2 ,.avm1 {
    font-size: 0.7rem;
    height: 100%;

}
  .avmBlinc {
    justify-content:center;
    writing-mode: vertical-rl;
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: vertical-rl;
    // align-items: center;
    text-align: center;
    height :100vh;
    span{ 

      height:7.8rem;
      font-size: 1.5rem;
    }
    color:aliceblue;
    font-size: 0.6rem;
    // writing-mode: vertical-rl;
    // -webkit-writing-mode: vertical-rl;
    // -ms-writing-mode: vertical-rl;
  background-color: rgb(234, 231, 236);
  animation:my ;
  -webkit-animation:my 1s 100ms  ease-in infinite;
}


}

