
@media only screen and (max-width: 480px) {
  .r {

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.3rem;
  margin: 0.1rem;
  max-height: max-content;

  }
  .thinks{  writing-mode: vertical-rl;
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: vertical-rl;
    font-size: 0.8rem;
    max-height: 100vh
  }
  .connection{font-size: 1.4rem;}


  .avm2 ,.avm1 {
    font-size: 0.7rem;
    height: 5rem;

}
  .avmBlinc {
  background-color: rgb(234, 231, 236);
  animation:my ;
  -webkit-animation:my 1s 0ms  linear infinite;
}}

