*{margin: 0px;
padding: 0px;
border:none

}
*,
*::before,
*::after{box-sizing: border-box;}
:focus,:active{};
a:hover{text-decoration: none;}
aside,nav,footer,header,section,main{display: block;}
h1,h2,h3,h4,h5,h6,p{font-size: inherit;font-weight: inherit;}

ul,ul li{list-style: none;}
img{vertical-align: top;}
img,svg{max-width: 100%;
height: auto;
}

input,textarea,button,select{font-family: inherit;font-style: inherit;
color:inherit
}
input::-ms-clear{display: none;background-color:transparent;
background: none;cursor: pointer;

}