$cyan:Cyan;
// @mixin tel(){

//     border: 2px rgb(32, 71, 144) solid;
//     border-radius: 10px;
//     -webkit-border-radius: 10px;
//     -moz-border-radius: 10px;
//     -ms-border-radius: 10px;
//     -o-border-radius: 10px;
// };

// .tel{background-color:$cyan ;height: 30px;@include tel();display: flex;justify-content: center;align-items:center;width: 398px;line-height: 2px;}
.rp{ b{color: red; font-size:32px;}font-size: 14px;}
