@media screen and (max-width: 420px) {
	.container {
    display: flex;
    justify-content: center;
    align-items: center;
		min-width: 100%;
    min-height: 100dvh;
    background:url('../../Foto/Painter.jpg')
	}
	.nav {
    // margin-top: 20px;
    min-height: fit-content;

		.list {
			max-width: 400px;
		}
		.item {
      // margin: 10px;
      max-width: 300px;
      min-width: 200px;
      width: 300px;
max-height:max-content ;
      border: none;
// background: linear-gradient(to bottom, #45484d 0%,#000000 100%);       border-radius:20px ;
//       -webkit-border-radius:20px ;
//       -moz-border-radius:20px ;
//       -ms-border-radius:20px ;
//       -o-border-radius:20px ;
//       margin-bottom: 10px;

span{color: rgb(8, 7, 7);
font-size: clamp(2rem, 1.111rem + 4.44vw, 2.5rem);}
		}
	}
}
.paintbrush {
  color: rgb(96, 3, 3);
font-size: 1rem;
	left: 10%;
  top: 50%;
}
