.containerCrane {
  display: flex;
	min-width: 100%;
	min-height: 100vh;
	.wrapCrane {
    display: flex;
		flex-flow: column;
		max-width: 100%;
		min-width: 90%;
		// gap: 30px;
		justify-content: space-between;
		min-height: 100%;
	}
	.copyUl {
    min-width: 10%;
		// background-color: red;
		display: flex;
		flex-direction: column;
		// font-size: 2rem;
		// gap: 10px;
		min-height: 100%;
		justify-content: space-between;
		// position: relative;
	}
	.craneInside {
    min-height: 100%;
		width: max(100%, 200px);
		background-color: #fff;
		display: flex;
		justify-content: space-around;
		flex-direction: row-reverse;
		align-items: center;
	}
	.crane {
    font-size: clamp(0.75rem, -0.05rem + 4vw, 1rem);
	}
	.crane5 {
    font-size: clamp(0.688rem, -0.313rem + 5vw, 1rem);
	}
	.crane4 {
    padding-left: 0px;
	}
	.copyLi {
    font-size: clamp(1rem, -1rem + 10vw, 1.5rem);
		color: maroon;
		background: rgb(238, 174, 202);
		background: radial-gradient(
			circle,
			rgba(238, 174, 202, 1) 0%,
			rgba(217, 210, 214, 1) 0%,
			rgba(148, 187, 233, 1) 100%
      );
    }
	// .active {
	// 	color: rgb(38, 0, 255);
	// 	background-color: azure;
	// 	border: 2px black solid;
	// 	width: max-content;
	// 	height: max-content;
	// 	font-size: clamp(1rem, -1rem + 9vw, 1.4rem);
	// 	transition: font-size 500ms ease-in;
	// 	-webkit-transition: font-size 500ms ease-in;
	// 	-moz-transition: font-size 500ms ease-in;
	// 	-ms-transition: font-size 500ms ease-in;
	// 	-o-transition: font-size 500ms ease-in;
	// 	border-radius: 10px;
	// 	-webkit-border-radius: 10px;
	// 	-moz-border-radius: 10px;
	// 	-ms-border-radius: 10px;
	// 	-o-border-radius: 10px;
	// 	box-shadow: 3px 4px 5px rgb(217, 186, 186);
	// }
	.craneMin {
		width: max-content;
	}

	.copyLi9 {
		right: 100px;
		font-size: clamp(0.7rem, -0.393rem + 5.1vw, 0.8rem);
		width: 40px;
	}
}
@import './mixinsCranesAll/mixActive';
