.containerCrane {
  display: flex;
  min-width: 100%;
  min-height: 100vh;
}
.containerCrane .wrapCrane {
  display: flex;
  flex-flow: column;
  max-width: 100%;
  min-width: 90%;
  justify-content: space-between;
  min-height: 100%;
}
.containerCrane .copyUl {
  min-width: 10%;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  justify-content: space-between;
}
.containerCrane .craneInside {
  min-height: 100%;
  width: max(100%, 200px);
  background-color: #fff;
  display: flex;
  justify-content: space-around;
  flex-direction: row-reverse;
  align-items: center;
}
.containerCrane .crane {
  font-size: clamp(0.75rem, -0.05rem + 4vw, 1rem);
}
.containerCrane .crane5 {
  font-size: clamp(0.688rem, -0.313rem + 5vw, 1rem);
}
.containerCrane .crane4 {
  padding-left: 0px;
}
.containerCrane .copyLi {
  font-size: clamp(1rem, -1rem + 10vw, 1.5rem);
  color: maroon;
  background: rgb(238, 174, 202);
  background: radial-gradient(circle, rgb(238, 174, 202) 0%, rgb(217, 210, 214) 0%, rgb(148, 187, 233) 100%);
}
.containerCrane .active {
  color: rgb(38, 0, 255);
  background-color: azure;
  border: 2px black solid;
  width: -moz-max-content;
  width: max-content;
  height: -moz-max-content;
  height: max-content;
  font-size: clamp(1rem, -1rem + 9vw, 1.4rem);
  transition: font-size 500ms ease-in;
  -webkit-transition: font-size 500ms ease-in;
  -moz-transition: font-size 500ms ease-in;
  -ms-transition: font-size 500ms ease-in;
  -o-transition: font-size 500ms ease-in;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: 3px 4px 5px rgb(217, 186, 186);
}
.containerCrane .craneMin {
  width: -moz-max-content;
  width: max-content;
}