@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap");
.wrapper {
  width: 100%;
  height: 12.2rem;
  font-size: 1rem;
  color: rgb(0, 0, 0);
}
.wrapper .select {
  font-size: 1.1rem;
}
.wrapper b {
  font-size: 1.5rem;
  font-family: " Verdana, sans-serif, cursive;font-weight: 900";
}
.wrapper span {
  color: red;
  font-size: large;
  font-weight: 700;
}

.btSel {
  background-color: cadetblue;
}

@media only screen and (max-width: 480px) {
  .wrapper {
    width: 100%;
  }
  .select {
    font-size: 0.9rem;
  }
  .miniLog {
    width: 100%;
  }
  .miniLog span {
    display: inline;
  }
}