@import url('https://fonts.googleapis.com/css2?family=Bungee+Tint&family=Lobster&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nanum+Gothic:wght@700&family=Pacifico&family=Rubik+Bubbles&family=Russo+One&display=swap');
* {
	list-style: none;
}
.container {
	min-width: 100%;
	min-height: 100vh;
	background: linear-gradient(to bottom, #feffff 0%, #ddf1f9 35%, #a0d8ef 100%);

	.wrapper {
		min-width: 100%;
		min-height: 100vh;
		// background-color: red;
		margin-top: 4rem;
	}
	li {
		min-width: 100%;
		border: none;
	}

	.listWorkers {
		min-width: 100%;
		min-height:max-content;
		display: grid;
		grid-template-columns: 35% 35% 30%;
		grid-template-rows:minmax(max-content, 1fr);
		list-style: none;
border:1px rgb(66, 60, 108) solid;
		place-items: center;
		.item {
			background-color: cornsilk;
			width: 100%;
			min-height: 100%;
   

		}

		.difference {
			width: 100%;
			text-align: center;
			display: flex;
      flex-direction: column;
			justify-content: center;
			align-items: center;
			height: 100%; /* Убедитесь, что родительский элемент имеет заданную высоту */
    span{font-size: clamp(0.625rem, -5.818rem + 27.27vw, 1rem);
    height: fit-content;
    min-width: min-content;
    padding: 0;
    }
    }
    .licence {
  text-align: center;
  font-size: clamp(0.625rem, -1.106rem + 7.69vw, 0.913rem);
  word-wrap: break-word;
  // overflow-wrap:break-word;
}
	}
}
.head {
	display: grid;
	min-width: 100%;
// margin-bottom: 1rem;
	grid-template-columns: repeat(2, 35%) 30%;
	grid-template-rows: 30px;
	// grid-auto-rows:140px ;

	// list-style: ;

	background-color: #0ec955;

	.insideNameHead {
		background-color: #a0d8ef;
		font-size: 0.8rem;
		text-align: center;
		// width: 90%;
	}
	.differenceDay {
		text-align: center;
		// padding-left: clamp(0.188rem, -5.313rem + 27.5vw, 0.5rem);
		font-size: clamp(0.725rem, -1.106rem + 7.69vw, 0.813rem);
	}
}

// .accordion{margin-bottom: 1rem;}