@import url(https://fonts.googleapis.com/css?family=Press+Start+2P:regular);
@import url(https://fonts.googleapis.com/css?family=Raleway:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
.mainGates {
  width: 100%;
  height: 783px;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#3f4c6b+0,3f4c6b+100;Blue+Grey+Flat */
  background: rgb(63, 76, 107); /* Old browsers */
  background: -moz-linear-gradient(top, rgb(63, 76, 107) 0%, rgb(63, 76, 107) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgb(63, 76, 107) 0%, rgb(63, 76, 107) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgb(63, 76, 107) 0%, rgb(63, 76, 107) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#3f4c6b", endColorstr="#3f4c6b",GradientType=0 ); /* IE6-9 */
  color: white;
  font-family: "Press Start 2P";
  font-size: 19px;
  display: flex;
}
.mainGates span {
  color: white;
}

.container {
  width: fit-content;
  height: 783px;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#3f4c6b+0,3f4c6b+100;Blue+Grey+Flat */
  background: rgb(63, 76, 107); /* Old browsers */
  background: -moz-linear-gradient(top, rgb(63, 76, 107) 0%, rgb(63, 76, 107) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgb(63, 76, 107) 0%, rgb(63, 76, 107) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgb(63, 76, 107) 0%, rgb(63, 76, 107) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#3f4c6b", endColorstr="#3f4c6b",GradientType=0 ); /* IE6-9 */
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
}

.gate {
  transform: rotate(180deg);
  writing-mode: vertical-rl;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: vertical-rl;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  font-size: 14px;
  display: flex;
  flex-flow: wrap;
  width: 50px;
  height: min-content;
  background-color: rgb(0, 0, 0);
}

span {
  width: 100%;
  display: grid;
  align-items: start;
  padding: 5px;
  justify-content: center;
  height: 100%;
}

.wrapper67 {
  height: 783px;
  display: grid;
  min-width: 85px;
  align-items: end;
}

.gate7 {
  padding: 2px;
  letter-spacing: 2px;
  display: flex;
  flex-flow: row wrap;
  font-size: 14px;
  margin-bottom: 29px;
  height: 99px;
  min-width: 100%;
}
.gate7 span {
  width: max-content;
  height: 100%;
  font-size: 19px;
}

.mainGates {
  display: flex;
  justify-content: space-between;
}

.door {
  position: relative;
  font-size: 1rem;
  width: fit-content;
  background: rgb(0, 0, 0);
  height: fit-content;
  color: rgb(255, 253, 253);
  display: flex;
  justify-content: center;
  align-items: center;
}

.middle {
  position: relative;
  min-height: 783px;
  display: flex;
  flex-direction: column;
  background-color: antiquewhite;
  justify-content: space-evenly;
  margin-right: 40px;
  width: 2px;
}

.middle > .door {
  width: max-content;
  height: fit-content;
  margin-bottom: 50px;
}

.doorNot {
  position: relative;
  width: max-content;
  height: min-content;
  font-size: 12.5px;
  padding: 10px 4px;
  transform: rotate(180deg);
  writing-mode: vertical-rl;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: vertical-rl;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  top: 80px;
}

.district6 {
  min-height: 783px;
  width: 150px;
  display: flex;
  flex-flow: column;
}
.district6 span {
  font-weight: 800;
  color: gold;
  letter-spacing: 20px;
  font-size: 29px;
  display: flex;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  writing-mode: vertical-rl;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: vertical-rl;
}

.preend {
  width: 100px;
  height: 783px;
  color: black;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  writing-mode: vertical-rl;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: vertical-rl;
  display: flex;
  align-items: center;
  justify-content: center;
}

.seven {
  color: yellow;
  font-size: 39px;
  letter-spacing: 30px;
  width: fit-content;
  height: fit-content;
}

.mainGates {
  position: relative;
}

.log {
  display: flex;
  width: 100%;
  height: 100%;
  position: absolute;
  font-family: "Raleway";
  transform: translate(-39%, -20%);
  -webkit-transform: translate(-39%, -20%);
  -moz-transform: translate(-39%, -20%);
  -ms-transform: translate(-39%, -20%);
  -o-transform: translate(-39%, -20%);
  z-index: 4;
  color: rgb(0, 0, 0);
  font-weight: 500;
  overflow: hidden;
  word-break: break-all;
  padding: 5px;
  transition: all 50ms ease-in-out;
  -webkit-transition: all 50ms ease-in-out;
  -moz-transition: all 50ms ease-in-out;
  -ms-transition: all 50ms ease-in-out;
  -o-transition: all 50ms ease-in-out;
}

.blinck {
  z-index: 8;
  animation: blinck 400ms ease-in;
  -webkit-animation: blinck 400ms ease-in;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}

@keyframes blinck {
  10% {
    background-color: red;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
  }
  30% {
    background-color: rgb(7, 99, 220);
  }
}