@import url(https://fonts.googleapis.com/css?family=Press+Start+2P:regular);
@import url(https://fonts.googleapis.com/css?family=Raleway:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
.mainGates {
  width: 100%;
  height: 100vh;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#3f4c6b+0,3f4c6b+100;Blue+Grey+Flat */
  background: rgb(63, 76, 107); /* Old browsers */
  background: -moz-linear-gradient(top, rgb(63, 76, 107) 0%, rgb(63, 76, 107) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgb(63, 76, 107) 0%, rgb(63, 76, 107) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgb(63, 76, 107) 0%, rgb(63, 76, 107) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#3f4c6b", endColorstr="#3f4c6b",GradientType=0 ); /* IE6-9 */
  color: white;
  font-family: "Press Start 2P";
  font-size: 19px;
  display: flex;
}
.mainGates span {
  color: white;
}

.container {
  width: fit-content;
  height: 783px;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#3f4c6b+0,3f4c6b+100;Blue+Grey+Flat */
  background: rgb(63, 76, 107); /* Old browsers */
  background: -moz-linear-gradient(top, rgb(63, 76, 107) 0%, rgb(63, 76, 107) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgb(63, 76, 107) 0%, rgb(63, 76, 107) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgb(63, 76, 107) 0%, rgb(63, 76, 107) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#3f4c6b", endColorstr="#3f4c6b",GradientType=0 ); /* IE6-9 */
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
}

.gate {
  transform: rotate(180deg);
  writing-mode: vertical-rl;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: vertical-rl;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  font-size: 14px;
  display: flex;
  flex-flow: wrap;
  width: 50px;
  height: min-content;
  background-color: rgb(0, 0, 0);
}

span {
  width: 100%;
  display: grid;
  align-items: start;
  padding: 5px;
  justify-content: center;
  height: 100%;
}

.wrapper67 {
  height: 783px;
  display: grid;
  min-width: 85px;
  align-items: end;
}

.gate7 {
  padding: 2px;
  letter-spacing: 2px;
  display: flex;
  flex-flow: row wrap;
  font-size: 14px;
  margin-bottom: 29px;
  height: 99px;
  min-width: 100%;
}
.gate7 span {
  width: max-content;
  height: 100%;
  font-size: 19px;
}

.mainGates {
  display: flex;
  justify-content: space-between;
}

.door {
  width: fit-content;
  background: rgb(0, 0, 0);
  height: 84px;
  color: rgb(255, 253, 253);
  display: flex;
  justify-content: center;
  align-items: center;
}

.middle {
  width: 60px;
  height: 783px;
  display: flex;
  flex-direction: column;
  background-color: antiquewhite;
  justify-content: space-evenly;
  margin-right: 40px;
  width: 2px;
}

.doorNot {
  width: max-content;
  height: min-content;
  font-size: 12.5px;
  padding: 4px;
  transform: rotate(180deg);
  writing-mode: vertical-rl;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: vertical-rl;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}

.district6 {
  width: 150px;
  display: flex;
  flex-flow: column;
}
.district6 span {
  font-weight: 800;
  color: gold;
  letter-spacing: 20px;
  font-size: 29px;
  display: flex;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  writing-mode: vertical-rl;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: vertical-rl;
}

.preend {
  width: 100px;
  color: black;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  writing-mode: vertical-rl;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: vertical-rl;
  display: flex;
  align-items: center;
  justify-content: center;
}

.seven {
  color: yellow;
  font-size: 39px;
  letter-spacing: 30px;
  width: fit-content;
  height: fit-content;
}